<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="container text-align">
  <div class="row">
    <div class="col-lg">
      <h3>Squishy Tomatoes</h3>

    </div>
    <div class="col-lg">
      <button class="btn btn-primary" [routerLink]="['/new']">New</button>


    </div>

  </div>
  

  <div class="row">
    
    <div class ="col-xl outline">
      <button class="btn btn-primary" [routerLink]="['/movies']">Home</button>
      
      <!-- <button [routerLink]="['/new']">New</button> -->
      <!-- <button [routerLink]="['/edit/4']">Edit</button> -->

      <router-outlet></router-outlet> 

      
    </div>
      
  
        

  </div>


  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


